---
import { Image } from "astro:assets";
import FormattedDate from "./FormattedDate.astro";
import type { CollectionEntry } from "astro:content";
import Link from "./Link.astro";
import { slugify } from "../utils/slugify";

type Props = CollectionEntry<"blog">;

const {
  slug,
  data: {
    title,
    description,
    pubDate,
    updatedDate,
    heroImage: src,
    author,
    tags,
  },
} = Astro.props;
---

<li class="flex mb-8">
  <article
    class="flex flex-col items-start mx-auto shadow-[0px_0px_10px_5px_rgba(0,0,0,0.3)] rounded p-2"
  >
    <a href={`/blog/${slug}`}>
      <Image
        {src}
        alt={title}
        width={400}
        height={250}
        format="webp"
        quality={80}
      />
    </a>
    <a href={`/blog/${slug}/`}>
      <h1>
        {title}
      </h1>
    </a>
    {
      author && (
        <p class="author mt-0 w-full inline-flex">
          by&nbsp;<Link href={`/author/${slugify(author)}`}>{author}</Link>
          &nbsp;|&nbsp;
          <FormattedDate date={pubDate} />
        </p>
      )
    }
    <small class="tags flex w-full">
      Tags:
      {
        tags?.map((tag) => (
          <Link
            class="tag mr-2 bg-[burlywood] rounded-[5px] px-2"
            href={`/tag/${slugify(tag)}`}
          >
            {tag}
          </Link>
        ))
      }
    </small>
  </article>
</li>
