---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import MainLayout from "./MainLayout.astro";
import { slugify } from "../utils/slugify.js";
import { Image } from "@astrojs/image/components";

// type Props = CollectionEntry<"blog">;

interface Props {
  data: CollectionEntry<"blog">["data"];
}

const { data } = Astro.props;
const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  tags,
  author,
  isDraft,
} = data;
---

<MainLayout {title} {description} image={heroImage} {data} robots={data.robots}>
  <main>
    <article>
      <div class="container">
        {
          heroImage && (
            <Image
              width={720}
              height={360}
              src={heroImage.src}
              alt={heroImage.alt}
              format="avif"
              fit="cover"
              quality={80}
              aspectRatio="5:2"
              class="hero-image"
            />
          )
        }
        <h1 class="title">{title}</h1>
        <h3 class="description">{description}</h3>
        {
          author && (
            <p>
              by <a href={`/author/${slugify(author)}`}>{author}</a> -
              <FormattedDate date={pubDate} />
            </p>
          )
        }
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
        {
          tags &&
            tags.map((tag) => (
              <small>
                <a href={`/tag/${slugify(tag)}`} class="badge">
                  {tag}
                </a>
              </small>
            ))
        }
      </div>
      <hr />
      <slot />
    </article>
  </main>
</MainLayout>

<style>
  .title {
    font-size: 2em;
    margin: 0.25em 0 0;
  }
  hr {
    border-top: 1px solid #ddd;
    margin: 1rem 0;
  }
  .last-updated-on {
    font-style: italic;
  }
  .hero-image {
    background-origin: top top;
  }
</style>
