---
import BaseHead from "./BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import "../styles/global.css";

export interface Props {
  title: string;
  description: string;
  image?: string;
  data?: any;
  robots?: any;
}

const {
  title = "Default Title",
  description = "Default Description",
  image,
  data,
  robots,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {title} {description} {image} {data} {robots} />
  </head>
  <body>
    <Header {title} />
    <main class="container">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  @reference "styles/global.css";

  .container {
    @apply max-w-2xl mx-auto mt-[var(--header-height)] mb-[var(--footer-height)] min-h-[calc(100vh-var(--header-height)-var(--footer-height))] py-2;
  }
</style>
